#wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.pointer {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: rgb(240, 167, 167);
  animation: implode 0.5s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}