#wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.pointer {
  pointer-events: none;
  position: absolute; 
  border-radius: 50%; 
  animation: fadeOut 0.5s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes fadeOut {
  100% {transform: scale(0)}
}