.wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
}

/* BubblePointer ball */
.pointer {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  animation: fadeOut 0.5s ease-in-out;
  animation-fill-mode: both;
  opacity: 0.5;
}

@keyframes fadeOut {
  100% {
    transform: scale(0);
  }
}

/* HoverItem */
.hover-ul-list {
  width: 900px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hover-li-list {
  width: 290px;
  height: 290px;
  position: relative;
  overflow: hidden;
  background-color: gray;
  transform: translateZ(0);
}

.hover-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hover-image {
  fill: none;
  width: 150%;
  object-fit: cover;
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: 50% 50%;
  transition: transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

circle {
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hover-li-list:hover circle,
.hover-li-list:hover .hover-image {
  transform: scale(1);
}

/* HoverLetter */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.flex-text {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hover-size-text {
  opacity: 0.6;
  letter-spacing: 1px;
  transition: all 1s ease-in-out;
  cursor: pointer;
  text-align: center;
  animation: font 3s ease-in-out alternate infinite;
}

.hover-size-text:hover {
  font-size: 70px;
  opacity: 1;
  letter-spacing: 3px;
  animation: shiny 3s ease-in-out alternate infinite;
}

@keyframes shiny {
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }
}

@keyframes font {
  100% {
    opacity: 1;
  }
}

.mouse-pointer {
  position: fixed;
  border-radius: 50%;
  background-color: green;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.mouse-hover {
  position: fixed;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid green;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

@keyframes move {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  10% {
    width: 20px;
    height: 20px;
    opacity: 1;
    box-shadow: inset 0 0 10px 5px rgba(0, 128, 0, 0.5);
  }
  20% {
    opacity: 0;
  }
  30% {
    width: 35px;
    height: 35px;
    opacity: 0.7;
    box-shadow: inset 0 0 10px 5px rgba(0, 128, 0, 0.5);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
}

/* TextAnimation */
.text-animation {
display: inline-block;
margin: 100px;
font-size: 70px;
letter-spacing: 5px;
text-transform: uppercase;
border-radius: 10px;
padding: 30px 40px;
}

.text-animation:hover {
  background-color: #fffafa;
  color: #101010;
}

/* AnimationButton */
.custom-btn {
margin: 20px;
}